<% include ../partials/boilerplate %>


<% data.forEach(note => { %>
      <p><%= note.description %></p>
        <% if (note.completed) { %>
    <span class='done'>Done!</span>
            <% } else { %>
    <span class='not-done' data-id='<%= note.id %>'>Not done!</span>
  <% } %>
  <a href='/notes/<%= note.id %>'>Link</a>
  <a href='/notes/<%= note.id %>/edit'>Edit it!</a>
  <a href='/notes/<%= note.id %>/add'>Add note!</a>
  <form method='POST' action='/notes<%= note.id %>?_method=DELETE'>
  <input type='submit' value='DELETE IT' />
  </form>
<% }) %>



 

<% include ../partials/end %>