<% include ../partials/boilerplate %>


<a href='/notes/add/<%= university_id %>'>Add note!</a><br/>
<a href='/notes'>Return to University Search</a>


<% data.forEach(note => { %>
      <p><%= note.description %></p>
        <% if (note.completed) { %>
    <span class='done'>Done!</span>
            <% } else { %>
    <span class='not-done' data-id='<%= note.id %>'>Not done!</span>
  <% } %>

  <a href='/notes/<%= note.id %>'>Edit it!</a>
  <form method='POST' action='/notes/<%= note.id %>?_method=DELETE'>
  <input type='submit' value='DELETE IT' />
  </form>
<% }) %>



 

<% include ../partials/end %>